@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 1rem;
    background-color: #121212;
    background-image: url("/background/black-felt.png");
    background-size: cover;
    color:#fff;
    font-family: "Roboto", sans-serif;
}

select option:focus {
    background-color: black; 
}

h1,h2,h3{
    font-weight: bold;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.spin{
    animation: spin 1s infinite linear;
}
